li {
    list-style: none;
}

#achieve_logo {
    width: 150px;
    height: 150px;
}

#occuspace_logo {
    width: 150px;
    height: 150px;
}

#john_stewart_logo {
    width: 130px;
    height: 130px;
    padding-left: 6%;
    padding-top: 6%;
}

#appsync_logo {
    padding: 5% 0%; 
    width: 150px;
    height: 120px;
}