/* controls the color of the website background */
body {
  background:#ECECEC;
}

section {
  margin-top: 10%; 
}

p {
  font-size: calc(5px + 2vmin);
  font-family: 'Alegreya', serif;
}
a {
  font-size: calc(5px + 2vmin);
}

h1 {
  font-family: 'Alegreya', serif;
  background-color: grey;
  padding-bottom: 15px;
  text-align: center;
}
h2 {
  text-align: center;
  background: grey;
  padding-bottom: 15px;
}

h3 {
  text-align: center;
}

body > a {
  font-family: 'Sorts Mill Goudy', serif;
}

/* create a column for all the main lists */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.list_column {
  float:left;
  width: 49%;
}

.list_row:after {
  content: "";
  display: table;
  clear: both;
}

#contact_info img {
  padding-left:25px;
}

#main-list {
  margin: auto;
  max-width: 400px;
}