/* controls the color of the website background */
body {
  background:#ECECEC;
}

/* controls the placing of the mainn-lists from the top of the page */
section {
  margin-top: 10%; 
}

p {
  font-size: calc(5px + 2vmin);
  font-family: 'Alegreya', serif;
}
a {
  font-size: calc(5px + 2vmin);
}

h1 {
  font-family: 'Alegreya', serif;
  background-image: linear-gradient(to left,#2E2449,#25366A);
  padding-bottom: 15px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
}
h2 {
  text-align: center;
  background-image: linear-gradient(to left,#2E2449,#25366A);
  padding-bottom: 15px;
  color: white;
  margin-bottom: 0px !important;
}

h3 {
  text-align: center;
}

body > a {
  font-family: 'Sorts Mill Goudy', serif;
}

/* create a column for all the main lists */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.list_column {
  float:left;
  width: 49%;
}

.list_row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom:10px;
}

#contact_info img {
  padding-left:25px;
}

#main-list {
  margin: auto;
  max-width: 400px;
}

#inner_list > li > div > div > p {
  font-size: 18px;
}

/* controls the color of the list item background */
#inner_list > li > div {
  background: white;
}

/* controls the dimensions of the unorder lists */
#inner_list {
  max-height: 400px;
  overflow: auto;
  padding-left: 0px;
  margin: 0px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col"] {
    width: 100%;
  }
}